<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
 <style>
  .input{
    color:coral
  }
body {

  font-family: Arial;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuMk7yOzWQdxHWBvXCyYKQ4ilt8K5ZEdZWxJC7jD0DHUqyVCdlUQ");
}

.coupon {
  border: 5px dotted #bbb;
  
  border-radius: 15px;
  
}
 .jumbotron{
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3upfzaL32XOXazmmYuC0Smtupm7QBOcCB88nXjiLR1J3swy1MpQ")
 }

</style>
<body>
  <div class = "coupon">
<div class="container" >
  <div class="jumbotron">
     <div class = "page-header"><h2>WELCOME</h2></div>
       <div class="row">
             <div class="col-sm-6" style="background-color:honeydew;">

            <img width = "500" height = "411" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwswgOC9-qXVard4rwophUOt6pHiPjlC_Zvw_4Y5FXd-u0ApxAfQ" >
             <br><br>
            
            <input type =  "button" onclick = "submit" value="Buy Now"/>
            
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Orphanizes<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Option 1</a></li>
                  <li><a href="#">Option 2</a></li>
                  <li><a href="#">Option 3</a></li>
                  <li><a href="#">Option 4</a></li>
                </ul>
              </li>
          </div>

 <div class="col-sm-6" style="background-color:lavender;"><h3><b>FULL CASHBACK</b></h3> 
       <pre><h5><b><p class="text-primary"> Price:</b></h5>Rs.1/- </pre>
 </div>
 
 </div>
    </div>      
</div>
</div>
</body>
</html>