#padding{
    padding-top: 10px;
    padding-left: 70px;
}
#pl{
    padding-left: 1000px;
    padding-bottom: 10px;
    padding-top: 0px;
}
#body{
    padding-left: 900px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#header{
    background-color: #F4F1F1; 
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 15px;
}

#background{
    background-color: lightblue;
}
