<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
    <h1>User Registration</h1>
    </div>
    <div class="form-content">
      <form [hidden]="submitted" [formGroup]="regForm" novalidate (ngSubmit)="onRegister()">
      
        <div class="form-group">
          <label class = 'center-block'>Name:</label>
            <input type="text" class="form-control" placeholder="enter your name" formControlName="name"  id = "name"  [(ngModel)]="userRegister.name" required/>
        </div>
      <!-- This is for Validating the name field Name  -->
        <div *ngIf="regForm.controls['name'].invalid && (regForm.controls['name'].dirty || regForm.controls['name'].touched)" class="alert alert-danger">
				  <div *ngIf="regForm.controls['name'].errors.required">
						<b>  Name is required.</b>
					</div>
					
				  <div *ngIf="regForm.controls['name'].errors.maxlength">
								Maximum characters required for username is 20
				  </div>

					<div *ngIf="regForm.controls['name'].errors.minlength">
					  Minimum characters required for username is 3
					</div>
		    </div>
      
        <div class="form-group">
          <label class = 'center-block'>Email:</label>
          <input type="text" class="form-control" placeholder="abc@gmail.com" formControlName="email" id = "email" [(ngModel)]="userRegister.email" required/>
        </div>
      <!-- This is for Validating the name field Name  -->
        <div *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].dirty || regForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="regForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="regForm.controls['email'].errors.pattern">
            <!-- [(a-z),(A-Z),(0-9)@gmail.com] -->
            Email pattern should be like this [anything@gmail.com]
          </div>
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" placeholder="password" formControlName="password" id = "password" [(ngModel)]="userRegister.password" required/>
        </div>
        <div *ngIf="regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)" class="alert alert-danger">
          <div *ngIf="regForm.controls['password'].errors.required">
          Password  is required.
          </div>
          <div *ngIf="regForm.controls['password'].errors.maxlength">
            Maximum characters for password is 15
          </div>
          <div *ngIf="regForm.controls['password'].errors.minlength">
            Minimum characters for password is 6
          </div>
          <div *ngIf="regForm.controls['password'].errors.pattern">
            Password should comprised of atleast one lowercase, uppercase and number
          </div>
        </div>

      <div class="form-group">
        <label class = 'center-block'>Mobile:</label>
        <input type="number" class="form-control" placeholder="enter mobile number" formControlName="mobile" id = "mobile" [(ngModel)]="userRegister.mobileNumber" required/>
      </div>
      
      <div *ngIf="regForm.controls['mobile'].invalid && (regForm.controls['mobile'].dirty || regForm.controls['mobile'].touched)" class="alert alert-danger">
        <div *ngIf="regForm.controls['mobile'].errors.required">
          Phone Number  is required.
        </div>
      
        <div *ngIf="regForm.controls['mobile'].errors.pattern">
          Mobile number should start with 9/8/7/6 and of 10 digits
        </div>
      </div>

      <div class="form-group">
          <button class="btn btn-primary" [disabled]="!regForm.valid" type="submit">Register</button>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!regForm.valid" type="submit">Login</button>
    </div>
    </form>
    </div>
</div> 
<div [hidden]="!submitted">
  <h4>You submitted successfully! Welcome {{response.name}}</h4>
  <button class="btn btn-success" (click)="onLogin()">Login</button>
</div>